@page "/edit-user"

<PageTitle>UserEdit</PageTitle>

<PStackPageBarInit Title="个人信息"></PStackPageBarInit>

<div class="pa-4">
    <MCard Class="app-list-card"
           Elevation="0"
           Rounded="@("lg")">
        <MList>
            <MListItem OnClick="()=> {}">
                <MListItemContent>头像</MListItemContent>
                <MListItemAction>
                    <MAvatar Size="48" Color="white">
                        <MImage Src="@_user.Avatar"
                                Contain
                                MaxWidth="30"
                                alt="user_avatar">
                        </MImage>
                    </MAvatar>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MListItem OnClick="()=> {}">
                <MListItemContent>用户名</MListItemContent>
                <MListItemContent>
                    <MListItemSubtitle Class="text-right">
                        @_user.Username
                    </MListItemSubtitle>
                </MListItemContent>

                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MListItem OnClick="()=> {}">
                <MListItemContent>昵称</MListItemContent>
                <MListItemContent>
                    <MListItemSubtitle Class="text-right">
                        @_user.Nickname
                    </MListItemSubtitle>
                </MListItemContent>

                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MListItem OnClick="()=> {}">
                <MListItemContent>邮箱</MListItemContent>
                <MListItemContent>
                    <MListItemSubtitle Class="text-right">
                        @_user.Email
                    </MListItemSubtitle>
                </MListItemContent>

                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MListItem OnClick="()=> {}">
                <MListItemContent>电话</MListItemContent>
                <MListItemContent>
                    <MListItemSubtitle Class="text-right">
                        @_user.PhoneNumber
                    </MListItemSubtitle>
                </MListItemContent>

                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MListItem OnClick="()=> {}">
                <MListItemContent>角色</MListItemContent>
                <MListItemContent>
                    <MListItemSubtitle Class="text-right">
                        @_user.PhoneNumber
                    </MListItemSubtitle>
                </MListItemContent>

                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        </MList>
    </MCard>

    <div class="mt-8">
        <MButton Block Rounded
                 Class="text-capitalize"
                 Large
                 Color="primary">
            保存
        </MButton>
    </div>
</div>

<div style="position:fixed; bottom: 0; left: 0; right: 0; padding-bottom: 20px">
    <MButton Text
             Block
             Large
             Rounded
             Ripple="false"
             Class="text-capitalize"
             Color="error"
             OnClick="@HandelLogout">
        退出登录
    </MButton>
</div>