<MPullRefresh Class="home-swiper-slide-content"
              CanReleaseText="下拉刷新"
              PullingText="刷新中..."
              SuccessText="刷新成功！"
              OnRefresh="@HandleOnRefreshAsync">

    <div class="ma-2">
        <SummaryCard Items="@_summaries" />
        <ArticleList Articles="@_articles" />
    </div>

    <MInfiniteScroll Parent="@("#article-swiper-slide")"
                     OnLoad="@HandleOnLoadAsync"
                     EmptyText="已经到底了！"
                     LoadingText="加载中..."
                     @ref="_infiniteScroll">
    </MInfiniteScroll>
</MPullRefresh>