@page "/login"
@attribute [AllowAnonymous]
@layout LoginLayout

<div class="login">
   @*  <MAvatar Size="72" Class="mt-16"
             Color="white">
        <MImage Src="_content/Masa.Blazor.MauiDemo.Rcl/img/masastack.png"
                Contain
                MaxWidth="64"
                alt="masastack">
        </MImage>
    </MAvatar> *@

    <MTextField @bind-Value="@_username"
                HideDetails="true"
                Placeholder="用户名"
                Clearable>
    </MTextField>

    <MTextField @bind-Value="@_password"
                HideDetails="true"
                Placeholder="密码"
                Clearable
                Type="password"
                OnEnter="@LoginAsync">
    </MTextField>

    <MButton Block Rounded
             Class="text-capitalize"
             Large
             Color="primary"
             Disabled="@LoginBtnDisabled"
             OnClick="@LoginAsync"
             Loading="@_loggingIn">
        登录
    </MButton>

    <div class="d-flex justify-end">
        <MButton Text
                 Color="primary"
                 Small
                 OnClick="@VisitorLoginAsync"
                 Class="text-none">
            游客登录
        </MButton>
    </div>
</div>