@page "/article/edit/{id?}"
@using Memo.Blog.App.Components.Pages.Article.Components;

<PStackPageBarInit>
    <ActionContent>
        <MButton Icon OnClick="()=> _showSelectBanner = true">
            <MIcon>mdi-image-outline</MIcon>
        </MButton>

        <MButton Icon OnClick="()=> _showSelectTag = true">
            <MIcon>mdi-label-outline</MIcon>
        </MButton>

        <BottomSheet SheetItems="_shareSheetItems">
            <ActivatorContent>
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-share-outline</MIcon>
                </MButton>
            </ActivatorContent>
        </BottomSheet>

        <BottomSheet SheetItems="_configSheetItems">
            <ActivatorContent>
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-dots-horizontal</MIcon>
                </MButton>
            </ActivatorContent>
        </BottomSheet>
    </ActionContent>
</PStackPageBarInit>

<MContainer Fluid Class="d-flex flex-column">
    <div class="mb-4">
        <MTextField @bind-Value="@_article.Title"
                    Class="mb-1 user-select font-weight-black text-h6 article-title"
                    Solo
                    Flat
                    Dense
                    Filled="false"
                    TValue="string"
                    Rounded="false"
                    HideDetails="@("auto")"
                    spellcheck="false"
                    maxlength="50"
                    BackgroundColor="transparent"
                    Placeholder="文章标题">
        </MTextField>

        <MTextarea @bind-Value="@_article.Description"
                   Class="rounded-lg"
                   Dense
                   HideDetails="@("auto")"
                   Solo
                   Flat
                   NoResize
                   Rows="3"
                   Counter="500"
                   maxlength="500"
                   spellcheck="false"
                   Placeholder="文章描述">
        </MTextarea>

        <div class="d-flex align-center flex-wrap text-subtitle-2">
            <span>
                <MIcon>mdi-update</MIcon> @_article.UpdateTime?.ToString("yyyy-MM-dd HH:mm")
            </span>

            <MSpacer></MSpacer>
            <span class="text-subtitle-2">
                @_article.WordNumber 字
            </span>
        </div>
    </div>

    <MarkdownEdit @ref="markdownEdit"
                  @bind-Value="_article.Content"
                  WrapClass="content-markdown-wrap"
                  Class="rounded-lg content-markdown"
                  Autofocus="_autofocus"
                  OnAfter="HandleLaunchActivation">
    </MarkdownEdit>
</MContainer>

<SelectTagDialog @bind-Tags="_article.Tags"
                 @bind-Category="_article.Category"
                 @bind-Visible="_showSelectTag" />

<SelectBannerDialog @bind-Banner="_article.Banner"
                    @bind-Visible="_showSelectBanner" />